/******---fonts----*******/

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat-semibold-webfont.woff2') format('woff2'), url('../fonts/montserrat-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'), url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* =======================================================
*    Default style
* ======================================================= */

body {
    font-family: "open_sansregular";
    background: #fff;
    color: #222;
    height: 100%;
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "montserrat";
    margin: 0px;
    padding: 0px;
}

p {
    margin: 0px;
}

ol,
ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

a {
    color: #000;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none;
}

a:hover,
a:active,
a:focus {
    color: #000;
    outline: none;
    text-decoration: none;
}

::-webkit-selection {
    color: #fff;
    background: #1fb5f6;
}

::-moz-selection {
    color: #fff;
    background: #1fb5f6;
}

::selection {
    color: #fff;
    background: #1fb5f6;
}
.btn{
    outline: none;
    
}
/* =======================================================
*    Main style
* ======================================================= */


/*------- Header ---------*/

header {
    background-color: gold;
}
.logo img {
    max-width: 70%;
}
.site-contact {
    display: block;
    padding-top: 15px;
    padding-bottom: 10px;
}
.site-contact ul li {
    display: inline-block;
    margin-left: 10px;
}
.site-contact ul li a {
    font-size: 20px;
    color: #333;
}
.site-contact ul li a i {
    margin-right: 8px;
}
.login-cta, .signup-cta {
    display: inline-block;
    margin-left: 10px;
}
.login-cta .btn, .signup-cta .btn {
    text-transform: uppercase;
    background-color: #87C443;
    color: #fff;
    padding: 10px 30px;
    font-size: 20px;
    border-radius: 3px;
    outline: none;
}
.signup-cta .btn{
    background-color: #EA3C2D;
}
.login-cta .form-content, .signup-cta .form-content {
    padding: 30px 20px;
}
.form-login-heading, .form-signup-heading {
    text-transform: capitalize;
    padding-bottom: 20px;
    text-align: center;
    padding-top: 20px;
    background-color: #87c443;
    color: #fff;
}
.form-signup-heading{
    background-color: #ea3c2d;
}
.form-login p, .form-signup p {
    text-align: left;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.form-login p label, .form-signup p label {
    font-size: 18px;
    margin-bottom: 15px;
}
.form-login .form-control, .form-signup .form-control {
    height: 40px;
    border-radius: 2px;
}
.form-login p:nth-child(2) {
    margin-bottom: 15px;
}
.form-login p:nth-child(3) label {
    float: left;
    padding-left: 25px;
    font-size: 16px;
    margin: 0px;
}
.form-login p:nth-child(3) a {
    float: right;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: bold;
}
.form-login p:after {
    content: '';
    display: table;
    clear: both;
}
.form-login .login-cta, .form-signup .signup-cta {
    text-align: center;
    display: block;
    margin-top: 40px;
}
.form-login .login-cta .btn, .form-signup .signup-cta .btn{
    padding: 10px 90px;
    font-size: 22px;
    outline: none
}

/*-------- Nav area -----*/

.nav-area {
    background-color: #333;
}
.main-nav .navbar {
    margin-bottom: 0px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
}
.main-nav .navbar-nav>li>a {
    padding-top: 20px;
    color: #fff;
    padding-bottom: 20px;
    font-size:22px;
    text-transform: uppercase;
}
.main-nav .nav>li>a:focus,
.main-nav .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
    color: #ffd700;
}
.main-nav .navbar-header {
    float: none;
    display: none;
}
.main-nav .navbar-nav {
    float: left;
    margin: 0;
}
.main-nav .navbar-brand {
    padding: 0px; 
}


/*------- footer ------*/
footer {
    background-color: #333;
    color: #fff;
    padding: 70px 0px;
}
footer .row {
    padding-bottom: 60px;
    border-bottom: 1px dashed #ddd;
}
footer h3 {
    text-transform: capitalize;
    font-size: 28px;
    margin-bottom: 20px;
}
.footer-left p {
    font-size: 16px;
}
.footer-middle {
    text-align: center;
}
.footer-middle ul li {
    display: inline-block;
    margin-right: 10px;
}
.footer-middle ul li a {
    text-align: center;
    color: #fff;
}
.fa-facebook{
    background-color:#3B5998; 
}
.fa-twitter{
    background-color:#00ACEE; 
}
.fa-google-plus{
    background-color:#DD4B39; 
}
.fa-pinterest{
    background-color:#D44E41; 
}
.footer-middle ul li a i {
    font-size: 26px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
}
.footer-right h3 {
    text-align: center;
}
.footer-right {
    text-align: right;
}
.footer-right ul {
    text-align: left;
    padding-left: 90px;
}
.footer-right ul li {
    margin-bottom: 10px;
}
.footer-right ul li a {
    color: #fff;
    font-size: 20px;
}
.footer-right ul li a i {
    font-size: 22px;
    margin-right: 15px;
}
.footer-copyright {
    text-align: center;
    padding-top: 60px;
}
.footer-copyright p {
    font-size: 22px;
}













