
/* ----- Some Base Style --------- */

@font-face {
    font-family: 'Effra';
    src: url('../fonts/Effra-Regular.eot');
    src: url('../fonts/Effra-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Effra-Regular.woff2') format('woff2'),
        url('../fonts/Effra-Regular.woff') format('woff'),
        url('../fonts/Effra-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'EffraLight';
    src: url('../fonts/EffraLight-Regular.eot');
    src: url('../fonts/EffraLight-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/EffraLight-Regular.woff2') format('woff2'),
        url('../fonts/EffraLight-Regular.woff') format('woff'),
        url('../fonts/EffraLight-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


:root{
    --primary-color: #394053;
    --secondary-color: #4E4A59;
    --primary-white: #E0E0E0;
    --light-blue: #533de1;
}
h1,h2,h3,h4,h5,h6,p,label,ol,ul{
    margin: 0px;
    padding: 0px;
}
a,a:hover{
    color: var(--primary-white);
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Effra';
}
ol,ul{
    list-style: none;
}
img{
    max-width: 100%;
    height: auto;
}
body{
    font-family: "EffraLight";
}


/* ------- Content Style -------- */
header {
    background: var(--primary-color);
    color: var(--primary-white);
    height: 100vh;
    padding: 120px 0px;
    transition: ease 300ms;
}
header.header-hover{
    background-color: var(--secondary-color);
    transition-delay: 100ms;
}
.site-navigation {
    background: var(--primary-white);
    color: var(--primary-color);
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 999;
    border-radius: 40px;
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--primary-color);
    padding: 8px 13px;
    overflow: hidden;
    box-shadow: 0pc 0pc 5px rgba(0,0,0,0.5);
    transform: scale(0);
    transition: ease 300ms;
}
.site-navigation > nav > ul > li {
    display: inline-block;
    opacity: 0;
    transform: scale(0);
    transition: ease 300ms;
}

.site-navigation > nav > ul > li > a {
    font-size: 18px;
    font-weight: bold;
    color: var(--primary-color);
    margin-right: 5px;
    padding: 8px 10px;
    border: 1px solid var(--primary-color);
    background: var(--primary-white);
    border-radius: 25px;
    transition: 300ms;
}
.site-navigation > nav > ul > li > a.link-resume{
    background-color: #52489C; 
    color: #fff;
}
.site-navigation > nav > ul > li > a.link-resume > i{
    margin-left: 5px;
}
.site-navigation > nav > ul > li > a:hover{
    background-color: var(--primary-color);
    color: #fff;
    border-color: transparent;
}
.site-navigation > nav > ul > li > a.link-resume:hover{
    background-color: var(--secondary-color);
}
.nav-header {
    position: relative;
    font-size: 30px;
    text-align: center;
    z-index: 900;
}
.nav-header > i{
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: ease 300ms;
}
.nav-header > i:last-of-type{
    width: 0px;
    height: 0px;
    font-size: 0px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -30px;
    margin-top: -15px;
}
.site-navigation > nav {
    padding: 0px 0px;
    border-radius: 40px;
    width: 0px;
    z-index: 0;
    transition: ease 300ms;
}
.site-navigation.nav-active {
    background-color: #fff;
}
.site-navigation.nav-active > nav {
    width: 500px;
}
.site-navigation.nav-active >.nav-header > i:last-of-type{
    width: 30px;
    height: 30px;
    font-size: 30px;
}
.site-navigation.nav-active >.nav-header > i:first-of-type{
    width: 0px;
    height: 0px;
    font-size: 0px;
}
.site-navigation.nav-active > nav > ul > li {
    opacity: 1;
    transform: scale(1);
}
.welcome-text > h1 > span{
    font-size: 70px;
    display: block;
}
.welcome-img {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    overflow: hidden;
    background: var(--secondary-color);
    border: 5px solid #394053;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
    transition: linear 300ms;
    cursor: none;
}
.welcome-img:hover{
    background: var(--primary-color);
    border-color: var(--primary-white);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    transition-duration: 500ms;
}
.projects {
    height: 100vh;
    padding: 120px 0px;
    background: var(--secondary-color);
}
.project-buttons{
    padding-top: 20px;
}
.project-buttons > .btn {
    width: 180px;
    background: transparent;
    border: 2px solid var(--primary-white);
    border-radius: 0px;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.project-buttons > .btn:focus {
    outline: 0;
    box-shadow: none;
    background: var(--primary-color);
    color: var(--primary-white);
    border-color: var(--primary-color);
}
.project-flow {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 550px;
    overflow-y: scroll;
    box-shadow:inset 0px -3px 6px 2px rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: 45% 45%;
    grid-gap: 10% 5%;
    justify-content: center;
    scrollbar-color: var(--primary-white);
    scrollbar-width: thin;
}
.project-flow::-webkit-scrollbar {
    width: 8Px;
    background: transparent;
}
.project-flow::-webkit-scrollbar-track {
    width: 8Px;
	background-color: transparent;
}
.project-flow::-webkit-scrollbar-thumb {
    border-radius: 5px;
    width: 8px;
	background-color: var(--primary-white);
}
.single-project {
    background: var(--primary-white);
    padding: 20px 20px;
    border: 2px solid var(--primary-color);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
    transform: scale(1);
    transition: linear 300ms;
}
.single-project:hover{
    background-color: var(--primary-color);
    color: var(--primary-white);
    border: 2px solid var(--primary-white);
    transform: scale(1.05);
    transition-delay: 100ms;
}
.project-tags {
    margin-top: 10px;
}
.project-tags > span {
    background: var(--primary-color);
    font-size: 14px;
    font-weight: bold;
    padding: 5px 5px;
    border-radius: 8px;
    color: #013E7D;
    margin-right: 8px;
    display: inline-block;
    margin-bottom: 8px;
}
.project-tags > span.tag-html{
    background-color: #99BE3B;
}
.project-tags > span.tag-css{
    background-color: #00A0AE;
    color: #E8D3A4;
}
.project-tags > span.tag-js{
    background-color: #FFCA22;
}
.project-tags > span.tag-bootstrap{
    background-color: #4FC4CB;
}
.project-headline > h3 {
    font-size: 20px;
}
.project-img {
    position: relative;
    overflow: hidden;
}
.project-img > img{
    transform: scale(1);
    transition: ease 300ms;
}
.project-view {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(57,64,83,0.0);
}
.project-viewlinks > a {
    font-size: 18px;
    text-transform: capitalize;
    background-color: var(--primary-white);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 30px;
    position: absolute;
    left: -120px;
    top: 50%;
    margin-top: -16px;
    transition: ease 300ms;
}
.project-viewlinks > a:hover{
    background-color: var(--secondary-color);
    color: var(--primary-white);
}
.project-viewlinks > a:last-of-type {
    right: -120px;
    left: auto;
}
.project-viewlinks > a > i {
    margin-left: 5px;
}
.single-project:hover .project-img > img{
    transition-delay: 100ms;
    transform: scale(1.2);
}
.single-project:hover .project-view{
    background: rgba(57,64,83,0.6);
    transition-delay: 100ms;
}
.single-project:hover .project-view .project-viewlinks > a:first-of-type {
    right: auto;
    left: 95px;
    transition-delay: 100ms;
}
.single-project:hover .project-view .project-viewlinks > a:last-of-type {
    right: 95px;
    left: auto;
    transition-delay: 100ms;
}
.single-project.client-project:hover .project-view .project-viewlinks > a:last-of-type ,
.single-project.client-project:hover .project-view .project-viewlinks > a:last-of-type > i{
    text-decoration: line-through;
}
.single-project.hide-project{
    display: none;
}
.about {
    height: 100vh;
    padding: 100px 0px;
    background: var(--primary-white);
    color: var(--primary-color);
    background-image: url(../img/about-bg1.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 350px;
}
.about-text > p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 30px;
}
.about-text > p > a {
    color: var(--primary-color);
    text-decoration: underline;
}
.about-text > p:last-of-type {
    margin: 0px;
}
.skill-list {
    width: 85%;
    margin-left: 0px;
}
.skill-list > li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.skill-list > li:last-of-type{
    margin: 0px;
}
.skill{
    width: 150px;
    text-align: center;
}
.skill-icon > i {
    font-size: 40px;
}
.skill-icon > img {
    width: 40px;
}
.skill-text > p {
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: bold;
    margin-top: 5px;
}
footer {
    background: var(--primary-color);
    color: var(--primary-white);
    height: 100vh;
    padding: 120px 0px;
    background-image: url(../img/footer-bg.png);
    background-repeat: no-repeat;
    background-position: 25% 50%;
    background-size: 400px;
}
.footer-text {
    padding: 100px 0px;
}
.footer-text > h1 {
    font-size: 60px;
    font-weight: bold;
}
.footer-text > .btn {
    background-color: var(--primary-white);
    border: 2px solid var(--primary-white);
    color: var(--primary-color);
    font-size: 24px;
    padding: 6px 50px;
    border-radius: 3px;
    margin-top: 30px;
    margin-bottom: 100px;
    font-weight: bold;
    transition: ease 300ms;
}
.footer-text > .btn > *{
    color: var(--primary-color);
}
.footer-text > .btn > a > i{
    margin-left: 10px;
}
.footer-text > .btn:hover > a > i{
    animation: resume 500ms ease;
}
.footer-text > .btn:focus{
    outline: 0;
    box-shadow: 0px 0px transparent;
}
.social-link > li {
    display: inline-block;
    margin-right: 20px;
}
.social-link > li > a {
    width: 50px;
    height: 50px;
    background-color: var(--primary-color);
    color: var(--primary-white);
    border: 2px solid var(--primary-white);
    display: block;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    border-radius: 3px;
    transition: ease 300ms;
}
.social-link > li.link-fb > a:hover{
    background-color: #3b5998;
    border-color: #3b5998;
    color: var(--primary-white);
}
.social-link > li.link-insta > a:hover{
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    border-color: var(--primary-white);
    color: var(--primary-white);
}
.social-link > li.link-tweet > a:hover{
    background-color: #00acee;
    border-color: #00acee;
    color: var(--primary-white);
}
.social-link > li.link-linked > a:hover{
    background-color: #0e76a8;
    border-color: #0e76a8;
    color: var(--primary-white);
}
@keyframes resume{
    0% {transform: rotate(0deg);}
    25% {transform: rotate(45deg);}
    50% {transform: rotate(-20deg);}
    75% {transform: rotate( 10deg);}
    100% {transform: rotate(0deg);}
}
/* =================================================================== */
/* ======================= RESPONSIVE CSS ============================ */
/* =================================================================== */
@media only screen and (min-width:1024px) and (max-width:1360px){
    .welcome-text > h1 > span {
        font-size: 50px;
    }
    .welcome-img {
        width: 400px;
        height: 400px;
    }
    .project-buttons {
        padding-top: 0px;
        text-align: center;
        margin-bottom: 35px;
    }
    .project-buttons > .btn{
        margin: 0px 10px;
    }
    .projects {
        height: auto;
        padding: 70px 0px;
    }
    .single-project:hover .project-view .project-viewlinks > a:first-of-type {
        left: 65px;
    }
    .single-project:hover .project-view .project-viewlinks > a:last-of-type {
        right: 65px;
    }
    .about {
        height: auto;
        padding: 100px 0px;
        background-position: right bottom;
    }
    .skill-list {
        width: 65%;
        margin-top: 50px;
    }
    footer{
        background-position: 20% 50%;
    }
}
@media only screen and (min-width:768px) and (max-width:1023px){
    header{
        height: auto;
    }
    .welcome-text {
        text-align: center;
    }
    .welcome-text > h1 > span {
        font-size: 35px;
    }
    .welcome-img {
        width: 300px;
        height: 300px;
    }
    .project-buttons {
        padding-top: 0px;
        text-align: center;
        margin-bottom: 35px;
    }
    .project-buttons > .btn{
        margin: 0px 10px;
    }
    .projects {
        height: auto;
        padding: 70px 0px;
    }
    .single-project:hover .project-view .project-viewlinks > a:first-of-type {
        left: 15px;
    }
    .single-project:hover .project-view .project-viewlinks > a:last-of-type {
        right: 15px;
    }
    .about {
        height: auto;
        padding: 100px 0px;
        background-position: right bottom;
        background-size: 315px;
    }
    .skill-list {
        width: 65%;
        margin-top: 40px;
    }
    footer {
        background-position: 90% 50%;
        background-size: 325px;
    }
    
}



@media only screen and (min-width:320px) and (max-width:767px){
    header {
        position: relative;
        height: auto;
        padding: 70px 0px 200px;
    }
    .welcome-text > h1 > span {
        font-size: 35px;
    }
    .welcome-img {
        width: 300px;
        height: 300px;
        background: var(--secondary-color);
        border: 5px solid var(--primary-color);
        position: absolute;
        left: 50%;
        margin-left: -150px;
        bottom: -150px;
    }
    .projects {
        height: auto;
        padding: 185px 0px 80px;
    }
    .project-buttons {
        display: flex;
    }
    .project-buttons > .btn {
        font-size: 16px;
        width: 140px;
        margin-bottom: 15px;
    }
    .project-flow {
        grid-template-columns: 95%;
        grid-gap: 5% 5%;
    }
    .single-project:hover .project-view .project-viewlinks > a:first-of-type {
        left: 35px;
    }
    .single-project:hover .project-view .project-viewlinks > a:last-of-type {
        right: 35px;
    }
    .about {
        height: auto;
        padding: 100px 0px;
        background-repeat: no-repeat;
        background-position: 50% 70%;
        background-size: 300px;
    }
    .skill-list {
        width: 100%;
        margin-top: 450px;
    }
    footer {
        padding: 0px 0px;
        background-position: 50% 75%;
        background-size: 300px;
    }
    .footer-text {
        padding: 70px 0px 50px;
        text-align: center;
    }
    .footer-text > h1 {
        font-size: 45px;
    }
    .footer-text > .btn {
        font-size: 24px;
        padding: 5px 30px;
        border-radius: 3px;
        margin-top: 15px;
        margin-bottom: 57vh;
    }
    .social-link{
        text-align: center;
    }
    .social-link > li:last-of-type{
        margin: 0px;
    }
    .site-navigation {
        right: 15px;
        bottom: 15px;
        height: 50px;
        justify-content: space-between;
        align-items: center;
        padding: 6px 13px;
    }
    .site-navigation.nav-active > nav {
        width: 315px;
        padding-bottom: 3px;
    }
    .site-navigation > nav > ul > li > a {
        font-size: 13px;
        padding: 5px 10px;
        border-radius: 25px;
        transition: 300ms;
    }
    .nav-header > i {
        width: 25px;
        height: 25px;
        font-size: 30px;
        cursor: pointer;
        transition: ease 300ms;
    }
    .site-navigation > nav > ul > li:last-of-type {
        display: none;
    }
}
@media only screen and (min-width:420px) and (max-width:767px){
    .welcome-text {
        text-align: center;
    }
    .project-buttons {
        display: block;
        padding-top: 0px;
        text-align: center;
        margin-bottom: 35px;
    }
    .project-buttons > .btn{
        margin: 0px 10px;
    }
    .footer-text {
        width: 65%;
        margin-right: 0px;
        margin-left: auto;
    }
    .footer-text > .btn {
        margin-bottom: 20vh;
    }
    footer {
        background-position: 0% 75%;
    }
}