/*=========================================
           For laptop
============================================*/

@media only screen and (min-width: 992px) and (max-width: 1199px) {
/*---- Lap-Start ----*/
    
/*=== Header Style ====*/
    
 .header-top-list li {
    font-size: 14px;
    margin-right: 40px;
}
.header-nav-bar .nav-link {
    padding: 30px 15px !important;
    font-size: 16px;
    border-bottom-width: 3px;
}
/*=== Hero Slider Style ====*/
    
.hero-text {
    width: 650px;
    padding: 70px 60px;
    transform: translate(8%,50%);
}
.hero-text h1 {
    font-size:40px;
}
.hero-text p {
    font-size: 16px;
    margin-bottom: 25px;
}
.hero-cta button a {
    font-size: 16px;
}
/*=== Service Area Style ====*/
    
.section-title h1 {
    font-size: 40px;
    margin-bottom: 25px;
}
.section-title h1::after, .section-title h1::before {
    height: 4px;
}
.section-title p {
    font-size: 16px;
}
.service-text h3 {
    font-size: 24px;
    margin-bottom: 15px;
}
.service-text p {
    font-size: 14px;
}
/*=== Course Area Style ====*/
    
.course-text h3 {
    font-size: 22px;
    margin-bottom: 10px;
}
.course-text p {
    font-size: 14px;
}
.class-text h3 {
    margin-bottom: 15px;
    font-size: 22px;
}
.class-text p,
.class-text ul li{
    font-size: 14px;
}
.class-text ul {
    margin-top: 22px;
}
/*=== Quote Area Style ====*/
    
.quote-area {
    background-position: 95% 0 , -190px -135px;
}
.quote-area .section-title h1{
    margin-left: 50px;
}
.section-title h1::after, .section-title h1::before {
    height: 3px;
}
/*---- Lap-End ----*/
}

/*=========================================
           For tablets
============================================*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
/*---- Tab-Start ----*/
   
/*=== Header Area Style ====*/

.header-top-list li {
    display: block;
    margin-right: 0px;
    margin-bottom: 8px;
    font-size: 14px;
}
.header-nav-bar .nav-link {
    padding: 22px 12px !important;
    margin: 0px 1px;
    font-size: 15px;
    border-bottom-width: 3px;
} 
.header-nav-bar .navbar-brand img{
    display: block;
    max-width: 80%;
    height: auto;
}
/*=== Hero Area Style ====*/
 
.hero-slide{
    height: 500px;
}
.hero-text-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    transform: translate(-50%,-50%);
    z-index: 1;
}
.hero-text {
    width: 630px;
    padding: 65px 50px;
    transform: none;
}
.hero-text h1 {
    font-size: 38px;
}
.hero-text p {
    font-size: 16px;
    margin-bottom: 25px;
}
.hero-cta button a {
    font-size: 16px;
}
/*=== Service Area Style ====*/
.sec-pad {
    padding-top: 70px;
    padding-bottom: 70px;
}
.section-title h1 {
    font-size: 38px;
    margin-bottom: 20px;
}
.section-title p {
    font-size: 16px;
}
.single-service {
    width: 80%;
    margin: 0 auto;
}
.service-text h3 {
    margin-bottom: 15px;
}
.service-text p {
    font-size: 14px;
}
.s-corner-top{
    top: -3px;
}
.s-corner-bottom {
    bottom: -2px;
}
/*--- Margin Utilities ---*/
    
.mt50{
    margin-top: 50px;
}
.mb20{
    margin-bottom: 20px;
}
.mb70{
    margin-bottom: 70px;
}
.mtb40{
    margin-top: 40px;
    margin-bottom: 40px;
}
/*=== Course Area Style ====*/ 
    
.single-course {
    width: 49%;
    display: inline-block;
}
.course-text h3 {
    font-size: 22px;
    margin-bottom: 10px;
}
.course-text p {
    font-size: 14px;
    padding-right: 30px;
}
.single-course:last-of-type {
    margin-top: 0px;
}
.course-cta a, .countdown-cta a {
    font-size: 16px;
}
/*=== Classes Area Style ====*/ 
    
.class-text h3 {
    margin-bottom: 15px;
    font-size: 26px;
}
.class-text p,
.class-text ul li {
    font-size: 14px;
}
.class-text ul {
    margin-top: 20px;
}
/*=== Quote Area Style ====*/

.quote-area {
    background-position: 110% 30px , -190px -135px;
}
.section-title h1 {
    font-size: 35px;
    margin-left: 45px;
    margin-bottom: 20px;
}
.quote-area .section-title p {
    font-size: 15px;
}
.single-notice:nth-last-of-type(2n) {
    margin-top: 30px;
    margin-bottom: 30px;
}
/*=== Testimony Area Style ====*/
    
.single-testimony {
    text-align: center;
}
.single-testimony .quote-icon {
    margin-left: auto;
    margin-right: auto;
}
.single-testimony p{
    padding: 0;
}
/*---- Tab-End ----*/
}

/*====================================================
For mobile phones:
====================================================== */

@media only screen and (max-width: 767px) {
/*---- Mob-Start ----*/
 
/*=== Header Area Style ====*/
 
.header-top-list li{
    margin-bottom: 7px;
    display: block;
} 
.header-top-right .header-top-list li {
    margin-left: 0px;
} 
.header-nav-bar {
    background-color: #f5f5f5;
}
.header-nav-bar .navbar {
    padding: 3px 0px;
}
.header-nav-bar .nav-link {
    padding: 15px 5px !important;
    margin: 0px 0px;
    font-size: 16px;
    border-width: 1px;
}
.header-nav-bar .site-search{
    font-size: 18px;
    text-align: center;
}
.header-nav-bar .navbar-toggler {
    background-color: transparent;
    border: 1px solid #ff0099;
    border-radius: .20rem;
}
.header-nav-bar .navbar-toggler:focus{
    outline: none;
}
.header-nav-bar .navbar-brand {
    padding: 8px 0px;
}
.header-nav-bar .navbar-brand img {
    max-width: 80%;
}
/*=== Header Area Style ====*/
    
.hero-slide{
    height: 100vh;
}
.hero-text {
    position: relative;
    display: block;
    width: 90%;
    padding: 30px 15px;
    transform: translate(0%,8%);
    text-align: center;
    margin: 0 auto;
}
.hero-text h1 {
    margin-bottom: 15px;
    font-size: 32px;
}
.hero-text p {
    font-size: 16px;
    margin-bottom: 25px;
}
.hero-cta button a {
    font-size: 16px;
    padding: 6px 45px;
    display: inline-block;
}
.hero-cta button {
    margin-right: 0px;
    margin-bottom: 15px;
}
.hero-cta button:last-of-type {
    margin-bottom: 0px;
}
/*=== Service Area Style ====*/ 
    
.sec-pad {
    padding-top: 60px;
    padding-bottom: 60px;
}
.section-title {
    margin-bottom: 60px;
}
.section-title h1 {
    font-size: 28px;
    margin-bottom: 20px;
}
.section-title p {
    font-size: 16px;
    width: 95%;
}
.section-title h1::after, .section-title h1::before {
    left: -28px;
    width: 30px;
    height: 3px;
}
.section-title h1::after{
    left: auto;
    right: -28px;
}
.single-service {
    width: 88%;
    margin-left: auto;
    margin-right: auto;
}
/*=== Course Area Style ====*/
    
.courses-area .section-title h1::after, 
.courses-area .section-title h1::before {
    left: 15px;
}
.courses-area .section-title h1::after{
    left: auto;
    right: 15px;
}
.course-text h3 {
    font-size: 20px;
    margin-bottom: 10px;
}   
.course-text p {
    font-size: 14px;
}
.single-course:last-of-type {
    margin-top: 40px;
}
.course-cta a, .countdown-cta a {
    font-size: 16px;
}
.course-cta {
    margin-top: 50px;
}
.single-class {
    width: 90%;
    margin: 0 auto;
}
/*=== Classes Area Style ====*/
    
.class-text h3 {
    font-size: 22px;
    margin-bottom: 15px;
} 
.class-text ul {
    margin-top: 20px;
}
.class-text p,
.class-text ul li{
    font-size: 14px;
}
/*=== Quote Area Style ====*/
    
.quote-area {
    background-image: url(../img/quote-bg.jpg);
    background-repeat: no-repeat;
    background-position: -80px -55px;
}
.quote-area .section-title {
    padding: 55px 0px;
    text-align: center;
}
.quote-area .section-title h1 {
    font-size: 35px;
}
.quote-area .section-title h1::after, 
.quote-area .section-title h1::before {
    left: 20px;
    width: 30px;
    height: 3px;
}
.quote-area .section-title h1::after {
    left: auto;
    right: 20px;
}
/*=== Notice Area Style ====*/
    
.single-notice:nth-last-of-type(2n) {
    margin-top: 20px;
    margin-bottom: 20px;
}
.single-notice h3 {
    font-size: 22px;
}
.single-notice p.notice-info {
    margin: 10px 0px 15px;
}
.single-notice p {
    font-size: 14px;
}
/*=== Countdown Area Style ====*/
    
#site-countdown .single-count:nth-of-type(1n),
#site-countdown .single-count:nth-of-type(2n){
    margin-bottom: 30px;
}
/*=== Testimonial Area Style ====*/
    
.single-testimony {
    text-align: center;
}   
.single-testimony .quote-icon {
    margin-left: auto;
    margin-right: auto;
} 
.single-testimony p {
    padding: 10px;
}
/*=== Footer Area Style ====*/
    
footer img {
    margin: 0 auto;
}
.social-media-list {
    top: -18%;
    margin-left: -125px;
}
.social-media-item{
    margin: 0px 3px;
}
.social-media-item a {
    width: 40px;
    height: 40px;
}
.social-media-item a i {
    font-size: 18px;
}
.footer-copyright{
    font-size: 16px;
    padding: 0px 10px;
}
/*---- Mob-End ----*/       
}

/*====================================================
For mobile phones *-Landscape-* :
====================================================== */

@media only screen and (min-width: 480px) and (max-width: 767px) {
/*---- Mob-Landscape-Start ----*/
 
.courses-area .section-title h1::after, 
.courses-area .section-title h1::before, 
.quote-area .section-title h1::after, 
.quote-area .section-title h1::before {
    left: -28px;
}
.courses-area .section-title h1::after,
.quote-area .section-title h1::after{
    left: auto;
    right: -28px;
}
/*=== Service Area ===*/
    
.single-service {
    width: 58%;
}
/*=== Classes Area ===*/
    
.single-class {
    width: 85%;
}
/*---- Mob-Landscape-End ----*/
}
